body{
    margin: 0px;
    padding: 0px;
}

header{
   height: 100px;
   background-color: orange;
   position: fixed;
   width: 100%;
}

main{
    padding-top: 100px;
}

header img{
    width: 100px;
    height: 100px;
    float: right;
    position: relative;
    margin-right: 15px;   
}

.notification {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    position: absolute;
    top: 10px;
    right: 55px;
    z-index: 1;
}

header h3{
    font-size: 250%;
    display: inline-block;
    text-align: center;
    color:white;
    text-shadow: 3px 3px 5px rgb(73, 71, 71);
    font-family: cursive;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    line-height: 50px;
}
 
#logindiv,#registerdiv{
    padding: 30px;
    background-color: rgb(228, 222, 222);
    color: black;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 10px;
    border: 2px solid darkgray;
    display: block;
}

#registerdiv{
    width: 400px;
    display:none;
    margin-bottom: 40px;
}

#homediv{
    display: none;
}


#innerdiv{ 
   width: 500px;
   margin: 0px auto;
}

#mainmenu{
    background-color: rgb(236, 236, 203);  
    position: fixed;
    width: 100%;
  }
  
#submenu{
    padding-top: 50px;
}

#registerdiv div input,#registerdiv div label,#registerdiv div textarea{
    width: 300px;
    margin-left:15px; 
}

label ,input ,textarea{
    padding: 2px;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 8px;
}

label{
    font-size: 20px;
    font-weight: bold;
}

#btnlogin,#btnregister{
    height:50px;
    width:270px;
    margin-left: 6px;
    margin-right: 8px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(79, 219, 14);
    font-size: 20px;
    font-family: sans-serif;
}

#btnregister{
    margin-left: 35px;
}

#signup{
    color: darkblue;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 6px;
    margin-left: 70px;
    cursor: pointer;
    text-decoration: underline;
}

#signup:hover{
    color: rgb(39, 57, 88);
}

.incorrect{
    color:rgb(165, 7, 7);
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 6px;
}

.incorrectregister,.incorrectgreen,.incorrectorange{
    color:rgb(165, 7, 7);
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 6px;
    margin-left: 20px;
}

.buttons,.clicked{
    height :50px;
    width :150px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 5px;
    color: white;
    background-color: rgb(136, 185, 62);
}

.buttons:hover{
    background-color: rgb(46, 160, 46); 
}

.divmain{
  display: inline-block;
  margin: 45px;
}

.imgsize{
    height: 200px;
    width: 200px; 
}

.price{
    font-size: 25px;
    color: rgb(179, 25, 25);
}

.seller,.quantity{
    font-size: 15px;
    font-family: Verdana;
    color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
}

.rating{
 color: rgb(27, 15, 141);
 font-size: 15px;
 cursor: pointer;
 margin-bottom: 10px;
}

.rating:hover{
    color: rgb(76, 76, 231);
}

.btnaddtocart{
    height: 40px;
    width: 150px;
    border-radius: 9px;
    font-size: 18px;
    margin-left: 28px;
    background: linear-gradient(rgb(248, 248, 78),rgb(250, 191, 80));
}

.ul{
    list-style: none;
}
.txtquantity{
   margin-top: 5px;
   text-align: center;
   font-size: 12px;
   width: 75%;
}
.red{
    border: 2px solid rgb(179, 25, 25);
}

.orange{
    border: 2px solid orangered;
}

.green{
    border: 2px solid green;
}

.incorrectgreen{
    color: green;
}

.incorrectorange{
    color: orangered;
}

thead{
    font-weight: bold;
}
  
td{
    text-align: center;
    vertical-align: middle !important;
}
  
thead{
    background-color:black;
    color: white;
}

#exampleModalLongTitle{
    /* font-weight: bold !important; */
    font-size: 30px !important;
    text-align: center !important;
    margin-top: 30px;
    color: white;
    font-family: Verdana !important;
    text-shadow: 3px 3px 5px rgb(73, 71, 71);
}

.btn-primary{
    background-color: rgb(79, 219, 14) !important;   
    border: 1px solid rgb(79, 219, 14) !important;
    height: 200%;
    width: 30%;
    font-size: 130%;
}

.btn-primary:hover{
    background-color: rgb(46, 160, 46) !important;
    border: 1px solid rgb(46, 160, 46)!important;
}

.modal-header{
 background-color: orange !important;
 
}

.url{
    height: 70px;
    width: 70px;
}

p{
    font-size: 150%;
    font-weight: bold;
}

span{
    font-weight: normal;
}

.clicked{
    background-color: rgb(46, 160, 46); 
}
